@charset "utf-8";
body{
	max-width: 750px;
	margin: 0 auto;
	font-size: 1em;
	color: #000;
	background: #FFF;
	font-family: "微软雅黑","arial";
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1,h2,h3,h4,ul,p{
	padding: 0;
	margin: 0;
}
li{list-style:none;}
a{
	text-decoration: none;
	color: #000;
	outline:none;
	-moz-outline-style:none;
}

/* @media screen and (max-width: 750px) {
	body{
		font-size: 16px;
	}
}
@media screen and (max-width: 320px) {
	body{
		font-size: 12px;
	}
} */
.left{
	float: left;
}
.right{
	float: right
}
/* 颜色设置 */
.red{
	color: #e85a58;
}
.gray{
	color: #666;
}
.gray2{
	color: #999;
}
.yellow{color: #fed71f}
/* 连接条 */
.btnTiao{
	background: #FFF;
}
.btnTiao + .btnTiao{
border-top: 7px solid #f6f6f6
}

input[type="checkbox"] {
    width: 0;
    vertical-align: middle;
    margin-right: 2em;
    position: relative;
}

input[type="checkbox"]:after {
    content: "";
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    background: white;
    border-radius: 50%;
    border: 1px solid #c0c0c0;
    top: -0.4em;
    left: -0.3em;
}

input[type="checkbox"]:checked:after {
    background: url("./images/sure.png") no-repeat center,#f7d700;
    border-color: #f7d700;
    color: #FFF;
    text-align: center;
    background-size: 80% auto;
}
/* 弹窗 */
.tan{
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	/* left: 0; */
	background: rgba(0,0,0,0.5);
	z-index: 1;
	max-width: 750px;
}
.tan .close {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 1.5em;
}
.tan .close img {
    width: 100%;
}
