@charset "UTF-8";
.yuanD img{
    display: block;
}
.yuanD .main{
    background: url("../images/bg.jpg") repeat-y;
    background-size: 100% auto;
}
.yuanD .rule{
    background: #9e0be8;
    color:#FFF;
}