@charset "utf-8";
body{
    max-width: 750px;
    margin: 0 auto;
    font-size: 1em;
    color: #000;
    font-family: "微软雅黑","arial";
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1,h2,h3,h4,ul,ol,p{
    padding: 0;
    margin: 0;
}
li{list-style:none;}
a{
    text-decoration: none;
    color: #000;
    outline:none;
    -moz-outline-style:none;
}
.w750{
    width:100%;
    max-width:750px;
    background: -webkit-linear-gradient(left,#7c1e8a 0%,#5c1c91 100%);
    padding-bottom: 2em;
}
.t_cent{
    text-align: center;
}
/*banner*/
.banner .i1{
    width:100%;
}
.guize{background:#5f00a7;box-shadow:0 0 133px #a539ff inset;width:90%;margin:0 auto;position:relative;border-radius:10px;}
.guize .s1{
    display: block;
    padding: 1.5em 0 1.8em;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.guize .s1 img{
    width: 100%;
}
.guize .gz{width:90%;margin:0 auto;display:block;padding:4% 0 7%}
.guize p{display:block;width:40%;height:36px;line-height:36px;background:-webkit-linear-gradient(top,#f52c78 0%,#b52a5c 100%);background:linear-gradient(top,#f52c78 0%,#b52a5c 100%);position:absolute;text-align:center;color:#fff;font-size:15px;border-radius:20px;left:30%;bottom:-20px}


.game{padding:0 2% 5% 2%;text-align:center;margin-top: 1.5em;margin-bottom: -1.5em;}

.game .puke{width:30%;vertical-align:middle;}
.game .game_tit{margin:0 auto -4%;width: 90%;text-align:left;position:relative;z-index:2;}
.game span{color:#fff;font-size: 16px;position:absolute;right:0;bottom: 50%;line-height:18px;text-decoration: underline;}
.game .hezi{background: url(../images/hezi.png) no-repeat center top;margin: 0 auto 1em;position:relative;padding: 0 2vw;background-size: 100% 100%;overflow: hidden;height: 102vw;max-height: 765px;}
.game ul{padding: 12% 5% 10%;overflow: hidden;height: 81vw;max-height: 760px;}
.game ul li{float:left;width: 33%;height: 27vw;position: relative;display: block;overflow: hidden;box-sizing: border-box;border: 1px solid #6500da;max-height: 198px;background: #000;opacity: 0.6;}
.game ul li.act{
    /* border: 3px solid #000000; */
    box-sizing: border-box;
    opacity: 1;
}
.game ul li:nth-child(3n+0){margin-right: 0;}
.game ul li img{width:100%;box-shadow:0 0 24px rgba(112,8,69,.5);}
.game ul li > div{width:100%;height:100%;}
.game ul li .d2{height: 0;}
.game ul li .d2 img{width:0;display:none;height: 100%;}

.game .kaishi{/* background:url(../images/begin.png) no-repeat 100% 100% /cover; *//* box-shadow:0 0 24px rgba(112,8,69,.5); */background: none;opacity: 1;}
.game .kaishi img{width:90%;padding:5% 0 11.3%;margin:0 auto;box-shadow:none;display: block;}

.zmd,.zmd2{position:absolute;width: 95vw;left: 0;top: 4%;max-width: 710px;}

@-webkit-keyframes twinkling{
    0%{opacity:0;} 50%{opacity:0;} 51%{opacity:1;} 100%{opacity:1;}
}
@-moz-keyframes twinkling{
    0%{opacity:0;} 50%{opacity:0;} 51%{opacity:1;} 100%{opacity:1;}
}
@keyframes twinkling{
    0%{opacity:0;} 50%{opacity:0;} 51%{opacity:1;} 100%{opacity:1;}
}
@-webkit-keyframes twinkling2{
    0%{opacity:1;} 50%{opacity:1;} 51%{opacity:0;} 100%{opacity:0;}
}
@-moz-keyframes twinkling2{
    0%{opacity:1;} 50%{opacity:1;} 51%{opacity:0;} 100%{opacity:0;}
}
@keyframes twinkling2{
    0%{opacity:1;} 50%{opacity:1;} 51%{opacity:0;} 100%{opacity:0;}
}
.zmd,.zmd2{
    -moz-animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;

    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;

    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.zmd{
    -moz-animation-name: twinkling;
    -webkit-animation-name: twinkling;
    animation-name: twinkling;
}
.zmd2{
    -moz-animation-name: twinkling2;
    -webkit-animation-name: twinkling2;
    animation-name: twinkling2;
}

/*机会*/
.chance{text-align: center;}
.chance span{color:#fff;font-size: 15px;/* position:absolute; */right:0;bottom: 23%;line-height:18px;/* text-decoration: underline; */}
.chance span b{display:inline-block;height:17px;width:23px;background:#4f179c;border-radius:3px;margin:0 5px;text-align:center;}

/*其他人中奖信息*/
.gun{background:url(../images/hdian.png) no-repeat center top /100% 100%;height: 282px;margin:0 20px;margin-top: 20px;position:relative;}
.gun .p1{
    position:absolute;
    top:50px;
    /* left:8px; */
    z-index: 2;
    height: 23px;
    background: url("../images/fu.png") no-repeat center top;
    background-size: 96% 100%;
    width: 100%;
}
.gun .p4{color:#fff;text-align: center;font-size: 14px;line-height: 32px}
.gun .p5{margin-top:25px;/* margin-left:20px; */position: absolute;left: 5%;top: 45px;background: url(../images/zhu.png) no-repeat left top;width: 90%;height: 7px;background-size: 100% auto;}
.gun .p6{margin: 33px auto 0;background: url(../images/ju.png) no-repeat center top /90% 100%;padding: 10px 30px 2px;box-sizing: border-box;}
.gun .p6 table{width:100%}

.gun .p6 li{color:#000;font-size: 12px;padding:10px 0;margin:0 18px;display: flex;justify-content: space-between;border-top: 1px dashed  #a0a0a0;}
/*.gun .p6 li + li{border-top: 1px dashed  #a0a0a0;}*/
.gun .p6 li span{margin-left:8px}
.gun .p6 li .sp{/* float: right; */display: inline-block;margin-right:8px;text-align: right;}
.ft{color:#fff;font-size: 12px;text-align: center;padding:24px 0;}

.gun1{background:url(../images/hdian1.png) no-repeat center top /100% 100%;height:105px;margin:0 20px;position:relative;top:15px;}
.gun1 .p4{color:#fff;text-align: center;font-size: 14px;line-height: 32px}
.gun1 .p5{margin-top:25px;margin-left: 18px;position: absolute;left:0;top:32px;}
.gun1 .p61{margin:33px auto;background:url(../images/ju1.png) no-repeat center top /100% 100%; width:90%;height:45px;}
.gun1 .p61 li{color:#000;font-size: 12px;border-bottom: 1px dashed  #a0a0a0;padding:14px 0;margin:0 18px;}
.gun1 .p61 li span{margin-left:8px}
.gun1 .p61 li .sp{float: right;display: inline-block;margin-right:8px}

/* 暂无记录 */
.gun .p6 .zan{text-align:center;margin: 67px 0;color:#999;font-size:40px;}
h4 {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    margin: 32px auto 0;
    text-align: center;
}

/*弹窗*/
.tan{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shuangTan h2{
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: normal;
    background: url(../images/tanTitBg.png) no-repeat center top /auto 100%;
    position: relative;
    top:25px;
    z-index: 5;
    width: 100%;
}
.shuangTan{
    /* background:   center 50% /  */
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/Tbj.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 100%;
    background-position: center;
}
.shuangTan .nrk{
    padding: 8px;
    background:-moz-linear-gradient(left top, #b823d3 0% , #700fa7 58% , #9e1cc3 100%);
    background:-webkit-linear-gradient(left top, #b823d3 0% , #700fa7 58% , #9e1cc3 100%);
    background:linear-gradient(left top, #b823d3 0% , #700fa7 58% , #9e1cc3 100%);
    width: 80%;
    margin: 0 10%;
    box-sizing: border-box;
    border-radius: 10px;
    /* position: relative; */
}
.shuangTan .nr{
    background: #fff5ed;
    border-radius: 4px;
    padding: 25px 14px;
    color: #5f00a7;
    font-size: 13px;
    line-height:22px;
    height: 45vh;
}
.shuangTan .nrText{
    overflow-y:scroll;
    width: 100%;
    height: 45vh;
}
/* .shuangTan .nr h3{font-weight: normal;} */
.shuangTan .nr .nrText h3{margin-top: 10px;}
.shuangTan .nr .nrText h3:first-child{margin-top: 0;}
.shuangTan .nr .nrText li{
    margin-top: 5px;
}
.shuangTan .btn{text-align:center;margin-top: 40px}
.shuangTan .nr .juan1{height:80px;background: url(../images/tuo.png) no-repeat center top /100% 100%;margin-bottom:3px;}
.shuangTan .nr .juan1 .left{padding:20px 0; text-align: center;margin:0 auto; width:64%;float: left;}
.shuangTan .nr .juan1 .left p:first-child{color:#000; font-size: 14px;}
.shuangTan .nr .juan1 .left p:nth-of-type(2){color:#888; font-size: 12px;margin-top:-3px;text-align: center;}
.shuangTan .nr .juan1 .left p:nth-of-type(2) a{color:red;}
.shuangTan .nr .juan1 .right{color:#fff;font-size: 16px;padding:30px 0;width:36%;float: left;text-align: center;}
.shuangTan .nr .juan1 .right a{color: #FFF;}
.shuangTan .nr .juan1.act .right{
    background: url("../images/ylq.png") no-repeat right bottom;
    background-size: 40% auto;
}
/*中奖弹窗*/
.winningTan{
    background-size: auto 40%;
    background-repeat: repeat-x;
    background-position: center 45%;
}
.winningTan .tit{
    height: 2.5em;
    margin-top: 1em;
    max-width: 100%;
}
.winningTan .nr{
    height:170px;}
.winningTan p{color:#000;margin: 0.6em auto;}
.winningTan .p1{font-size: 1.7em;}
.winningTan .p1 .red{color: red;}
.winningTan .p2{font-size: 1.1em;}
.winningTan .btnD{}
.winningTan .btnD a{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    background: -webkit-linear-gradient(top,#f52c78 0%,#b52a5c 100%);
    background: linear-gradient(top,#f52c78 0%,#b52a5c 100%);
    text-align: center;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
    padding: 0 1.5em;
}
.winningTan .btnD a + a{
    margin-left:1em;
}
.winningTan .nrText{
    height:auto;
}
/*收货地址*/
.address .nr .dress{
    font-size: 14px;
}
.address .nr .dress li {
    margin-bottom: 10px;
    background: #FFF;
    border-radius: 30px;
}
.address .nr .dress li label{
    display: flex;
    align-items: center;
}
.address .nr .dress li .s1:after{
    content: ":";
}
.address .nr .dress li .s1{
    min-width: 5em;
    padding-left: 1em;
}
.address .nr .dress li input,
.address .nr .dress li .s2{
    flex:1;
    line-height: 2;
    padding: 8px 0;
    border-radius: 2em;
    border:none;
    background: #FFF;
    font-size: 14px;
    min-width: 30px;
    color: #333;
}

.address .nr .dress li input::-webkit-input-placeholder{
    color: #333;
}
.address .btnD{
    text-align: center;
}
.address .btnD a{
    color: #FFF;
    display: block;
    background: -webkit-linear-gradient(290deg,#c63adc 0%,#560868 100%);
    background: linear-gradient(290deg,#c63adc 0%,#560868 100%);
    line-height: 3;
    width: 90%;
    margin: 1em auto;
    border-radius: 2em;
    font-size: 14px;
}
@media screen and (max-width: 335px){
    .winningTan .btnD a{
        font-size: 12px;
    }
}